<img src =http://bit.ly/1eze8aE width="800" height="600" style="border: solid red">
<% if @name%>
<h1>My name is <%=@name%><h1>
  <%end%>
   <form action="/named-cat">
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>
